name: "Jappcare Flutter Workflow"

on:
  pull_request:
    branches:
      - main
      - dev
  push:
    branches:
      - main

jobs:
  build:
    name: Build Flutter App
    runs-on: ubuntu-latest
    
    environment: dev-env #Specify the environment as dev-env


    steps:
      # Checkout the code from the repository
      - name: Checkout Code
        uses: actions/checkout@v4

      # Setup Java (update to a stable version for Flutter)
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '17' # Flutter generally uses Java 11 for Android builds
          distribution: 'temurin'

      # Setup Flutter environment
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
            flutter-version: '3.38.9' # Newer stable Flutter version with Dart 3.8+

      # Get dependencies
      - name: Install Dependencies
        run: flutter pub get

      # Verify Flutter version (optional, useful for debugging)
      - name: Check Flutter Version
        run: flutter --version

      # Build the Flutter APK
      - name: Build APK
        run: flutter build apk --debug --split-per-abi

      # Upload artifacts (APK)
      - name: Upload APK as a Release Artifact
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/flutter-apk/*.apk"
          tag: v0.${{ github.run_number }}
          token: ${{ secrets.TOKEN }}      # Your GitHub Personal Access Token
          name: "Development Build v0.${{ github.run_number }}"
